body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, table, th, td, button, a {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family:Arial,Helvetica,sans-serif;
    text-indent: 0px; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
cite, em { font-style: normal; }
img, button { border: 0px none; }
a { text-decoration: none; cursor: pointer; }
button, object { cursor: pointer; background: none; vertical-align: middle; overflow: visible; }
object { cursor: default; }
input, button, select, textarea { outline: none; border-radius: 3px; vertical-align: middle; }
textarea { resize: none; }
th { padding: 3px 2px; vertical-align: middle; font-weight: bold; font-size: 14px; text-align: center; }
td { vertical-align: middle;padding:3px 2px; word-break: break-all;  }
table.vtop td{vertical-align: top;}
button[powerlist]{display: none;}

.cellbor {border: solid 1px #d8d8d8;}
.cellbor td, .cellbor th {border: solid 1px #d4cece;padding: 8px 2px;}
.lnht22 { line-height: 22px; }
.lnht25 { line-height: 25px; }
.hscol{overflow:hidden; overflow-y: auto;}

.red { color: red; }
.cl { float: none !important; clear: both !important; height: 0px !important; _height: 1px !important; line-height: 0px !important; margin: 0px !important; padding: 0px !important; width: 0 !important; border: none !important; overflow: auto !important; zoom: 1; background: none !important; }

.btnblue { border-radius: 3px; background: #3697ed; color: white; font-size: 14px; font-weight: bold; padding: 8px 15px; }
.button { border-radius: 3px; background-color: gray; padding: 3px 5px; color: white; cursor: pointer; }
.bd1 { border: solid 1px gray; }
.tl { text-align: left !important; }
.tr { text-align: right !important; }
.tc { text-align: center !important; }
.fl { float: left; }
.fr { float: right; }

.w15 { width: 15px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w100 { width: 100px; }
.w120 { width: 120px; }
.w125 { width: 125px; }
.w150 { width: 150px; }
.w180 { width: 180px; }
.w200 { width: 200px; }
.w206 { width: 206px; }
.w250 { width: 250px; }
.w261 { width: 261px; }
.w300 { width: 300px; }
.w350 { width: 350px; }
.w400 { width: 400px; }
.w450 { width: 450px; }
.w480 { width: 480px; }
.w500 { width: 500px; }
.w580 { width: 580px; }
.w600 { width: 600px; }
.w605 { width: 605px; }
.w610 { width: 610px; }
.w640 { width: 640px; }
.w650 { width: 650px; }
.w700 { width: 700px; }
.w750 { width: 750px; }
.w800 { width: 800px; }
.w900 { width: 900px; }
.w1000 { width: 1000px; }
.wauto { width: auto; }
.wp95 { width: 95%; }
.wp98 { width: 98%; }
.wp100 { width: 100%; }
.h20 { height: 20px; }
.h50 { height: 50px; }
.h60 { height: 60px; }
.h100 { height: 100px; }
.h150 { height: 150px; }
.h200 { height: 200px; }
.h250 { height: 250px; }
.h280 { height: 280px; }
.h300 { height: 300px; }
.h350 { height: 350px; }
.h330 { height: 330px; }
.h450 { height: 450px; }
.h460 { height: 460px; }
.h470 { height: 470px; }
.h480 { height: 480px; }
.h500 { height: 500px; }
.hp100 { height: 100%; }
.hauto { height: auto; }

input.rd { border: 0px none !important; width: 13px !important; height: 13px !important; vertical-align: middle; }
.nbr { border: 0px none !important; }
.normal { display: inline-block; }
.error { color: Red; background: url(img/error.jpg) no-repeat 5px center; height: 18px; padding-left: 20px; line-height: 18px; }
.succeed { color: #39bf50; height: 18px; background: url(img/ok.jpg) no-repeat 5px center; padding-left: 20px; line-height: 18px; }

.calendarwrap{border:solid 1px #cccccc; position:absolute; top:0px; left:0px;background:white; font-size:12px;display:none; padding-top:2px;z-Index:9999}
.calendarwrap table{text-align:center;vertical-align:middle;}
.calendarwrap td{padding:3px 4px;padding-top:4px; color:#aaaaa1;width:15px;text-align:center;}

/*多级*/
.lanmubankuai { padding-right: 2em; line-height: 22px; }
.lanmubankuai li.line { line-height: 24px; border-bottom: dashed 1px gray; }
.lanmubankuai li input { margin-right: 5px; }
.lanmubankuai.pad0 { padding: 0px; }
.lanmubankuai.marleft2m { margin-left: -2em; }
.menulayer { margin-left: 2em; }
.menulayer.deploy { display: none; }
.lanmubankuai > .menulayer { margin-left:0; }

/*#mainwrap{ position: absolute; top: 0; left: 15px; right: 2px; bottom: 2px; overflow: hidden; }*/
#mainwrap{position: absolute;top: 0px;left: 0;right: 0px;bottom: 0;overflow: hidden;/* border: #f0f0f0 solid thin; */}
.bodywrap {position: absolute;top: 28px;left: 24px;bottom: 30px;right: 24px;overflow-y: auto;}
.bodywrap.notoolbar { top: 0; }
.bodywrap.nofooter{bottom: 0;}
.footer{position: absolute;left: 0px;bottom: 0;right: 24px;line-height: 30px;}/*dyz  50*/
.footer object { vertical-align: middle; }
.footer button.right{ float:right; margin-top:5px;}
.pagination a{ margin: 0 2px;}
.pagination a.selected{ color: red;}
/*操作对话框*/
.popupwrap { position: absolute; top: 4px; left: 8px; right: 8px; bottom: 8px; vertical-align: top; }
.popupwrap.fullscreen{ top: 0; left: 0; right: 0; bottom: 0;}
.popupwrap>div{ position:absolute; top: 0; left: 0; right: 0;; overflow: auto;}
.popupwrap>div:first-child{height: 90%;}
.popupwrap>div.footer{ top: auto; bottom: 0; border-top: solid 1px #e6e6e6; padding-top: 5px;background-color: white;}
.popupwrap iframe { width: 100%; height: 100%; border: none; border: solid 1px #e1e1e1; border-radius: 3px; }

.toolbar button,.footer button,.btnface, .footbtn { color: ButtonFace; background: rgb(101, 113, 128); border: solid 1px rgb(101, 113, 128); border-radius: 3px; padding: 3px 6px; padding-bottom:5px; font-size: 12px; word-spacing: 10px; line-height: 1em; font-family: 微软雅黑; vertical-align: middle; display: inline-block; }

/*标题切换样式*/
.tabmenu { width: 100%; height: 32px; border-bottom: solid 1px #e4e4ee; }
.tabmenu li { font-size: 14px; line-height: 1em; float: left; padding: 0px 20px; margin-top: 1px; text-align: center; cursor: pointer; line-height: 30px; }
.tabmenu li.selected, .tabmenu li:hover { border-bottom: solid 1px #2a8fdb; background: white; }

/*对话框*/
/*.popuplayer { border-radius: 3px; position: fixed; left: 50%; top: 50%; background: white; display: none; z-index: 999; background-color: #fff; border: solid 1px #ccc; }*/
.popuplayer { border-radius: 3px; position: fixed; left: 50%; top: 50%; background: white; display: none; z-index: 999; background-color: #F5F5F5; border: solid 0px #ccc; }

.popuplayer > div { position: absolute; top: 40px; left: 0; right: 0;line-height: 40px; font-size: 14px; }/*dyz 60*/
/*.popuplayer > div:first-child { height: 40px; top: 0; background-color: #f3f3f3; }*/
/*.popuplayer > div:first-child > h2 { padding-left: 10px; color: #666;background: #dce6f5 }*/
.popuplayer > div:first-child { height: 60px; top: 0; background-color:white; }
.popuplayer > div:first-child > h2 { height: 60px; padding-left: 10px; color: #fff;  font-size: 20px;background: #658FFB }


/*.popuplayer > div:first-child > span { position: absolute; top: 0; right: 0; bottom: 0; width: 40px; text-align: center; cursor: pointer; font-size: 24px;}*/
.popuplayer > div:first-child > span { position: absolute; top: 0; right: 0; bottom: 0; width: 40px; text-align: center; cursor: pointer; font-size: 40px;color: white;}


.popuplayer > div:last-child { height: 40px; top: auto; bottom: 0; text-align: right; border-top: solid 1px #e4e4e4; }
.popuplayer > div:last-child > button { background: #1abc9c; border: solid 1px #1abc9c; color: white; width: 80px; line-height: 30px; border-radius: 5px; letter-spacing: 3px; margin-right: 20px; }
.popuplayer > div:last-child > button:first-child { border-color: #ccc; background-color: white; color: #999; }
.popuplayer > div > iframe { width: 100%; height: 100%; border: 0; overflow: auto; }
.popuplayer > div > img { width:100%; display: block; }
.popuplayer > div .infowrap{ padding:0px 8px;}
.popuplayer.nofooter>div{ bottom: 0;}
.popuplayer.nofooter>div:last-child{ display:none;}
.popuplayer.noheader>div{ top: 0;}
.popuplayer.noheader>div:first-child{ display:none;}
/*遮罩层*/
.masklayer { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 10; display: none; background-color: #000; background: rgba(0, 0, 0, 0.5); }
/*加载等待框*/
.loadbox { padding: 0.2rem; padding-left: 1.04rem; position: fixed; top: 50%; left: 50%; margin-left: -0.52rem; margin-top: -0.42rem; background: rgba(0, 0, 0, 0.9) url(../img/icon/loadbox.gif) no-repeat 0.2rem 0.2rem;; background-size: 0.64rem; border-radius: 7px; display: none; z-index: 11; line-height: 0.64rem; }
.loadbox.text span { color: white; font-size: 0.24rem; }

.labelright label{ margin-right:5px;}
.labelright input{ margin-right:2px;}
.labtitle{margin-left: 10px}
/*.backdce{background: #dce6f5}*/
.marginauto>div{margin: 0 auto;}
.dcepopup td, .dcepopup th { border: solid 1px #6caddc; padding: 8px 2px; }
.toolbar>button{background: url(../css/limg/reports.png) no-repeat 2px 7px;background-size: 18px;padding: 0 3px 0 24px;font-size: 15px;word-spacing: 10px;line-height: 32px;font-family: ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â®ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¯ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â©ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚ÂºÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â©ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œ;vertical-align: middle;display: inline-block;color: #186aa3;border: none;margin-right: 10px}
.toolbar .quicksearch{background-image: url(../css/limg/quicksearch.png)}
.toolbar .supersearch{background-image: url(../css/limg/advsearch.png)}
.toolbar .butadd{background-image: url(../css/limg/add.png)}
.toolbar .butedit{background-image: url(../css/limg/edit.png)}
.toolbar .butreview{background-image: url(../css/limg/review.png)}
.toolbar .butview{background-image: url(../css/limg/view.png)}
.toolbar .butexcellent{background-image: url(../css/limg/excellent.png)}
.toolbar .butreports{background-image: url(../css/limg/reports.png)}
.toolbar .setup{background-image: url(../css/limg/setup.png);float: right; margin-right: 20px;}
.toolbar .butdelect{background-image: url(../css/limg/delect.png)}
.toolbar .butreturn{background-image: url(../css/limg/return.png)}

.toolbar{min-width: 800px;overflow: hidden;padding-left: 26px;/* background: #f0f0f0; */}
.bodywrap{top: 32px;border: #6caddc solid thin;}
.auto{margin: 0 auto}
.margintop{margin-top: 50px}

.newStyletoolbar>td{background: url(../css/limg/reports.png) no-repeat 2px 7px;background-size: 18px;padding: 0 3px 0 24px;font-size: 15px;word-spacing: 10px;line-height: 32px;font-family:微软雅黑;vertical-align: middle;display: inline-block;color: #186aa3;border: none;margin-right: 10px}
.newStyletoolbar{min-width: 800px;overflow: hidden;padding-left: 26px; background: #f0f0f0; }


.newStylebodywrap {position: absolute;top: 28px;left: 24px;bottom: 30px;right: 24px;overflow-y: auto;}
.newStylebodywrap.notoolbar { top: 0; }
.newStylebodywrap.nofooter{bottom: 0;}
.newStylebodywrap{top: 82px;border: lightgrey solid thin;}


.white{color: #fff}
.formor td, .formor th { padding: 8px 2px;border:none ;}
/*.formor td input{line-height: 22px;height: 24px;}
.formor td select{height: 28px;border:solid 1px #cbcbcb}*/

/*修改编辑界面输入框和选择框的大小*/
.formor td input{line-height: 28px;height: 30px;font-size: 20;}
.formor td select{font-size: 20;height: 36px;border:solid 1px #cbcbcb}

.formor tr td:first-child{text-align: right;min-width: 100px}
.white{color: #fff}
.formor .zwbutton{padding: 0;border: 0}
.formor .zwbutton p{width: 90px;margin: .3rem 10px;background: #fff;text-align: center;padding: .4rem 0;}
.formor tr>.institle:first-child{text-align: center;color: red;font-weight: 600;}
.formor tr>.institle{text-align: center;color: red;font-weight: 600;}
.backdce{width: 100%}
.uetd>ul{ background: #82bee9;border: #6caddc solid 1px;height: 28px;margin: 0px auto; width: 750px;;padding: 3px 0px; position: relative;left: 1px;border-radius: 2px;cursor: default;}
.uetd>ul>li{ float: left;color: #FFF;display: inline;padding: 6px 20px;; margin: 0 10px;border-radius: 4px;line-height: 18px}
.uetd>ul>.sel{color: #186aa3;background: #FFF}
.submission{width: 110px;font-size: 12px;height: 25px;border-radius: 15px;color: #fff;background: #186aa3;margin: 5px auto;display: block;text-align: center;line-height: 25px;}
/*.disnone{display: none}*/
.lanmubankuai { height: 100%;overflow: auto; }
.cenlin{text-align: center;}
.cellbor select{border:solid 1px #cbcbcb }
.dnone{display: none}
#section table{width:100%;border-bottom:1px dashed #ccc;font-size: 12px}
#section thead tr{height:24px;background:url(../css/limg/td1px.png) repeat-x;background-size: 100%;/* border-bottom:1px solid #ddd; */}
#section thead tr th{min-width:80px;}
#section thead tr>.w30{min-width: 30px;}


#section thead_newStyle tr{height:40px;background:url(../css/limg/td1px.png) repeat-x;background-size: 100%;/* border-bottom:1px solid #ddd; */}
#section thead_newStyle tr th{min-width:80px;}
#section thead_newStyle tr>.w30{min-width: 30px;}

#section tbody tr{border-top:1px dashed #ccc;}
#section tbody tr:first-child{border-top:0;}
#section tbody tr:nth-child(even){background:#fafafa;}
#section tr td{border:1px dashed #ccc;padding: 5px 0}
#section tr th{border-left:1px dashed #ccc;padding: 0;font-size: 16px;}
#section tr td:first-child{border-left:0;}
.tl{text-indent: 3px;}

.footer {text-align: right;}
.footer button{ border-radius: 15px; padding: 3px 20px; padding-bottom:5px;margin: 0 5px; }
.cellbor {font-size: 15px; }
#section tr>td>p>img{display: none;}
#section tr>td>p{max-width: 150px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin: 0 auto;}
#headimg>p{cursor: pointer;}
#fjfile{cursor: pointer}
#fjfile2{cursor: pointer}
.cellbor>tbody>tr>td, .cellbor>tbody>tr>th {
    /* border: #6380A9 solid thin; */
    line-height: 30px;
    /*font-size: 20px;*/
    color:gray;
    /* text-align: center; */
}
.tabheader {
    background: #6380A9;
    text-align: center;
    color: #fff;
    line-height: 30px;
}