<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudrich.ereader.meetpub.dao.MeetPubYichenDao" >
  <resultMap id="BaseResultMap" type="com.cloudrich.ereader.meetpub.entity.MeetPubYichenEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="yichenid" property="yichenid" jdbcType="INTEGER" />
    <result column="meetid" property="meetid" jdbcType="INTEGER" />
    <result column="pyichenid" property="pyichenid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="pubtime" property="pubtime" jdbcType="TIMESTAMP" />
  </resultMap>
  
   <resultMap id="BaseYichenResultMap" type="com.cloudrich.ereader.meeting.entity.MeetYichenMainEntity" >
    <id column="yichenid" property="yichenid" jdbcType="INTEGER" />
    <result column="meetid" property="meetid" jdbcType="INTEGER" />
    <result column="pyichenid" property="pyichenid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="BaseYichenFileResultMap" type="com.cloudrich.ereader.meeting.entity.MeetFileMainEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="yichenid" property="yichenid" jdbcType="INTEGER" />
    <result column="fileid" property="fileid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="uploadtime" property="uploadtime" jdbcType="TIMESTAMP" />
    <result column="filetype" property="filetype" jdbcType="CHAR" />
    <result column="fileown" property="fileown" jdbcType="CHAR" />
    <result column="meetid" property="meetid" jdbcType="INTEGER" />
    <result column="fileguid" property="fileguid" jdbcType="VARCHAR" />
    
  </resultMap>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from er_meet_pub_yichen
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloudrich.ereader.meetpub.entity.MeetPubYichenEntity" >
    insert into er_meet_pub_yichen (id, yichenid, meetid, 
      pyichenid, title, isdel, sort)
    values (#{id,jdbcType=INTEGER}, #{yichenid,jdbcType=INTEGER}, #{meetid,jdbcType=INTEGER}, 
      #{pyichenid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cloudrich.ereader.meetpub.entity.MeetPubYichenEntity" >
    update er_meet_pub_yichen
    set yichenid = #{yichenid,jdbcType=INTEGER},
      meetid = #{meetid,jdbcType=INTEGER},
      pyichenid = #{pyichenid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, yichenid, meetid, pyichenid, title, isdel, sort
    from er_meet_pub_yichen
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据议程id获取议程 -->
  <select id="selectByYichenid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, yichenid, meetid, pyichenid, title, isdel, sort
    from er_meet_pub_yichen
    where yichenid = #{yichenid,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, yichenid, meetid, pyichenid, title, isdel, sort
    from er_meet_pub_yichen
  </select>
  
  <!-- 获取最新的版本号 -->
   <select id="selectMaxVersion" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select ifnull(max(version),0) from er_meet_pub_yichen
    where meetid = #{meetid,jdbcType=INTEGER}
  </select>
  
  
  
    <!-- 获取父议程 -->
   <select id="selectAllParentYichenByMeetid" resultMap="BaseYichenResultMap"  parameterType="java.util.Map">
    select yichenid, meetid, pyichenid, title, isdel, sort
    from er_meet_pub_yichen
    where meetid= #{meetid,jdbcType=INTEGER}
    and isdel=0
    and pyichenid=0
    order by sort
  </select>
  
   <!-- 获取子议程 -->
   <select id="selectAllSubYichenByYichenid" resultMap="BaseYichenResultMap"  parameterType="java.util.Map">
    select yichenid, meetid, pyichenid, title, isdel, sort
    from er_meet_pub_yichen
    where pyichenid= #{yichenid,jdbcType=INTEGER}
    and isdel=0
    order by sort
  </select>
  
   <!-- 根据议程id和文件归属 获取文件和路劲-->
  <select id="selectFilesByYichenid" resultMap="BaseYichenFileResultMap" parameterType="java.util.Map" >
    select t.id, t.sort, t.yichenid, t.fileid,  f.title, f.filename, 
		f.filepath,f.uploadtime, f.filetype,f.fileown,f.fileguid
		from er_meet_pub_yichen_file t,er_meet_pub_file f
		where t.fileid=f.fileid
		and t.yichenid= #{yichenid,jdbcType=INTEGER}
		and f.fileown='1' 
		and t.isdel=0
		and f.isdel=0
		order by filetype
  </select>
  
  
    <!-- 根据推送范围 获取文件和路劲-->
  <select id="selectFilesByYichenidAndUserid" resultMap="BaseYichenFileResultMap" parameterType="java.util.Map" >
    select t.id, t.sort, t.yichenid, t.fileid,  f.title, f.filename, 
		f.filepath,f.uploadtime, f.filetype,f.fileown,f.fileguid
		from er_meet_pub_yichen_file t,er_meet_pub_file f
		where t.fileid=f.fileid
		and t.yichenid= #{yichenid,jdbcType=INTEGER}
		and f.fileown='1' 
		and t.isdel=0
		and f.isdel=0
		and f.fileid in
		 (
		   select fileid from er_meet_pub_file_scope where scopeid in
		   (select scopeid from er_sys_scope_user
		    where userid=#{userid,jdbcType=INTEGER}
		   )
   )
		order by f.filetype,f.sort
  </select>
  
      <!-- lhg根据用户ID 获取文件和路劲-->
  <select id="selectFilesByYichenidAndUseridLHG" resultMap="BaseYichenFileResultMap" parameterType="java.util.Map" >
    select t.id, t.sort, t.yichenid, t.fileid,  f.title, f.filename, 
		f.filepath,f.uploadtime, f.filetype,f.fileown,f.fileguid
		from er_meet_pub_yichen_file t,er_meet_pub_file f
		where t.fileid=f.fileid
		and t.yichenid= #{yichenid,jdbcType=INTEGER}
		and f.fileown='1' 
		and t.isdel=0
		and f.isdel=0
		and f.fileid in
		 (
		   select fileid from er_meet_file_user where  userid=#{userid,jdbcType=INTEGER}
   )
		order by f.filetype,f.sort
  </select>
  
  <delete id="deletePubYichenFileByMeetid" parameterType="java.lang.Integer" >
    delete from er_meet_pub_yichen
    where meetid = #{meetid,jdbcType=INTEGER}
  </delete>
  
  <!--根据会议id获取会议议程最后的发布时间 -->
    <select id="selectPubtimeByMeetid" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select  pubtime
		from er_meet_pub_yichen
		where meetid =#{meetid,jdbcType=INTEGER}
		and isdel=0
		limit 0,1
  </select>
</mapper>