<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudrich.ereader.dict.dao.DictModuleDao" >
  <resultMap id="BaseResultMap" type="com.cloudrich.ereader.dict.entity.DictModuleEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="moduleno" property="moduleno" jdbcType="INTEGER" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
    <result column="murl" property="murl" jdbcType="VARCHAR" />
    <result column="des" property="des" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from er_dict_module
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloudrich.ereader.dict.entity.DictModuleEntity" >
    insert into er_dict_module (id, moduleno, mname, 
      murl, des)
    values (#{id,jdbcType=INTEGER}, #{moduleno,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, 
      #{murl,jdbcType=VARCHAR}, #{des,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cloudrich.ereader.dict.entity.DictModuleEntity" >
    update er_dict_module
    set moduleno = #{moduleno,jdbcType=INTEGER},
      mname = #{mname,jdbcType=VARCHAR},
      murl = #{murl,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, moduleno, mname, murl, des
    from er_dict_module
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, moduleno, mname, murl, des
    from er_dict_module
  </select>
</mapper>