<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudrich.ereader.system.dao.SysHelpMainDao" >
  <resultMap id="BaseResultMap" type="com.cloudrich.ereader.system.entity.SysHelpMainEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
     <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="filetype" property="filetype" jdbcType="CHAR" />
    <result column="fileguid" property="fileguid" jdbcType="VARCHAR" />		    
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from  er_sys_help_main 
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloudrich.ereader.system.entity.SysHelpMainEntity" >
    insert into er_sys_help_main (id, filename, filepath, title,
     filetype,fileguid)
    values (#{id,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},
      #{filetype,jdbcType=CHAR},#{fileguid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cloudrich.ereader.system.entity.SysHelpMainEntity" >
    update er_sys_help_main
    <set>
    	<if test="title!=null">
    		title = #{title,jdbcType=VARCHAR},
    	</if>
        <if test="filename!=null">
    		filename = #{filename,jdbcType=VARCHAR},
    	</if>
        <if test="filepath!=null">
    		filepath = #{filepath,jdbcType=VARCHAR},
    	</if>
       <if test="filetype!=null">
    		filetype = #{filetype,jdbcType=CHAR},
    	</if>
       <if test="fileguid!=null">
    		fileguid = #{fileguid,jdbcType=VARCHAR}
    	</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByFiletype" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, filename, filepath,filetype,title,fileguid
    from er_sys_help_main 
    where filetype = #{filetype,jdbcType=CHAR} 
  </select>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
    select *
    from er_sys_help_main
    <if test="filetype!=null">
    	where filetype = #{filetype,jdbcType=CHAR}
    </if>
    order by id desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select  id, filename, filepath,filetype,title,fileguid
    from er_sys_help_main
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>