<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudrich.ereader.system.dao.SysRoleUserDao" >
  <resultMap id="BaseResultMap" type="com.cloudrich.ereader.system.entity.SysRoleUserEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
     <result column="username" property="username" jdbcType="VARCHAR" />
     <result column="danwei" property="danwei" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from er_sys_role_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByRoleid" parameterType="java.lang.Integer" >
    delete from er_sys_role_user
    where roleid = #{roleid,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByUserid" parameterType="java.lang.Integer" >
    delete from er_sys_role_user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloudrich.ereader.system.entity.SysRoleUserEntity" >
    insert into er_sys_role_user (id, roleid, userid
      )
    values (#{id,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cloudrich.ereader.system.entity.SysRoleUserEntity" >
    update er_sys_role_user
    set roleid = #{roleid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, roleid, userid
    from er_sys_role_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectByRoleid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ru.id, ru.roleid,ru.userid,um.truename as username,um.danwei
    from er_sys_role_user ru right join er_sys_user_main um
    on ru.userid=um.id
    where ru.roleid = #{roleid,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, roleid, userid
    from er_sys_role_user
    order by id desc
  </select>
  
  <select id="selectByUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, roleid,userid 
    from er_sys_role_user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  
</mapper>